
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet"  href="style.css">
	<title>BriefNote</title>
	<meta name="description" content="Every user will have a page, visible to all neighbors, which will contain a short list
of his contact information ( email, phone number, social network page etc.)">
	<meta name="keywords" content="Smart house, Smart home, Smart house systems, Smart home systems, Comfort house, House management, House monitoring, Apartment control,Apartment monitoring">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>



<body>

<div class="background">


	<div class="footer">
		<div class="home"></div>
		<div class="logout"></div>
	</div>


	<div class="functions_block">
		<div class="image" style="top: 20px;"></div>
		<div class="image" style="top: 100px;"></div>
		<div class="image" style="top: 180px;"></div>
		<div class="image" style="top: 260px;"></div>

	</div>


	<div class="board">
		<div class="embedded_footer">
			<div class="notice_board"></div>
			<div class="make_notice"></div>
			
		</div>
	</div>







</div>




</body>
</html>
