*{
	margin: 0;
	padding: 0;
}


.background{
	width: 100%; 
 	height: 100%; 
 	margin: auto;
 	position: absolute;
 	background-color: pink;
}

.footer{
	width: 100%; 
 	height: 45px; 
 	margin: auto;
 	position: absolute;
 	background-color: yellow;

}


.embedded_footer{
	width: 100%; 
 	height: 35px; 
 	margin: auto;
 	position: absolute;
 	background-color: green;

}

.home{
	width: 130px; 
	float: left;
 	height: 100%; 
 	position: relative;
 	background-color: red;
 	display: inline-block;
}

.logout{
	width: 130px; 
	float: right;
 	height: 100%; 
 	position: relative;
 	background-color: red;
 	display: inline-block;
}


.functions_block{
	width: 130px; 
	float: left;
 	height: 440px; 
 	position: absolute;
 	background-color: purple;
 	display: inline-block;
 	margin-top: 45px;
}

.board{
	width: 963px; 
	left: 130px;
 	height: 440px; 
 	position: absolute;
 	background-color: blue;
 	display: inline-block;
 	margin-top: 45px;
}


.notice_board{
	width: 180px; 
	float: left;
 	height: 100%; 
 	position: relative;
 	background-color: orange;
 	display: inline-block;
}


.make_notice{
	width: 180px; 
	float: right;
 	height: 100%; 
 	position: relative;
 	background-color: orange;
 	display: inline-block;
}


.image{
	width: 60px; 
 	height: 60px; 
 	position: absolute;
 	background-color: orange;
 	left: 35px;
}