
/**************** FONTS *******************/
@font-face {
	src: url("blackout-2am.ttf");
	font-family: "Blackout-2am"; 	
}

@font-face {
    src: url("bungeeInline-regular.ttf");
	font-family: "BungeeInline-Regular";	
}

/*******************************************/






/*************** FOUNDATIONS ****************/
*{
	margin: 0;
	padding: 0;
}

body{
	/*фон*/
	background: url('Untitled66-3.png') no-repeat  #e0ffee center center fixed;
	background-size: cover;
}


.clearfix {
	clear: both;
	content: '';
	display: table;
}

/****************************************************/






/******************* STRUCTURES *******************/

.main {
	width: 700px;
	height: 400px;
	/*background-color: green;*/
	margin: auto;
	position: relative;
	margin-top: 20px;
}

.block1 {
	height: 100vh;
}

.menu {
	width: 216px;
	background-color: rgb(0, 0, 255, 0.93);
	position: absolute;
	padding: 15px;
	border-radius: 10px;
/*	visibility: hidden;*/

}


.line{
 	width: 100%; 
 	height: 485px; 
 	margin: auto;
 	position: relative;
}

.for_function{
	background-color: green; 
	width: 500px; 
	height: 400px;  
	margin: auto;
	position: absolute;
	display: inline-block;
}

.for_photo{
	background-color: yellow; 
	width: 300px; 
	height: 300px;  
	margin: auto;
	position: absolute;
	display: inline-block;
}

.hint{

	background-color: orange; 
	width: 30px; 
	height: 30px;  
	margin: auto;
	position: absolute;
	display: inline-block;

}

/********************************************/





/************** TEXT **********************/
.main_text {
	width: 100%;
	height: 60px;
	margin-top: 100px;	
	text-align: center;
	font-size: 50px;
	font-family: Blackout-2am;
	color: #15352B;
}

.small_text {
	width: 100%;
	height: 60px;
	margin-top: -20px;	
	text-align: center;
	font-size: 15px;
	font-family: BungeeInline-Regular;
	color: #15352B;
}

.title {
	width: 100%;
	height: 60px;
	font-size: 17px;
	text-align: center;
	/*font-family: Blackout-2am;*/
	/*color: #15352B;*/
	color: white;
	font-weight: 600;
}

.block_of_text {
	width: 100%;
	height: 60px;
	font-size: 13px;
	text-align: center;
    margin-top: 7%; 
    position: relative;
    color: white;
 
	/*font-family: Blackout-2am;*/
	/*color: #15352B;*/
}
/*********************************************/


 


/******** BLOCKS (MAIN MENU) ***************/

.message {
	top: 20px;
	left: 125px;
	position: absolute;
	background-image: url("1.png");
	background-size: cover;
	z-index: 2;

}


.tracking {
	top: 0px;
	left: 277px;
	position: absolute;
	background-image: url("2.png");
	background-size: cover;
	z-index: 0;
}

.mensuration {
	position: absolute;
	top: 20px;
	left: 430px;
	background-image: url("3.png");
	background-size: cover;
	z-index: 0;
}
.notification {
	top: 180px;
	left: 125px;
	position: absolute;
	background-image: url("4.png");
	background-size: cover;
	z-index: 0;
}


.alarms {
	top: 200px;
	left: 277px;
	position: absolute;
	background-image: url("5.png");
	background-size: cover;
	z-index: 0;
}

.mail {
	top: 180px;
	left: 430px;
	position: absolute;
	background-image: url("6.png");
	background-size: cover;
	z-index: 0;
}


/**************************************************/






/*********  BLOCKS (ANIMATION)  ****************/
.imgs {
	position: absolute;
	height: 74px;
    width: 126px;
	display: inline-block;
	/*background-color: red;*/
	border-radius:100%;
	  -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
} 

.imgs:hover {
	position: absolute;
	height: 100px;
    width: 172px;
     -webkit-transform: rotate(-6deg);
     -moz-transform: rotate(-6deg);
       -o-transform: rotate(-6deg);
      -ms-transform: rotate(-6deg);
          transform: rotate(-6deg);
}


img{
	display: inline-block;
	max-width: 30%;
	height: auto;
	width: auto/9; /*ie8*/
	-moz-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
	-webkit-transition: all 3s ease-out;
	
}

/***********************************************/




/***********  MENU CHOOSE BLOCKS  ****************/

.menu_message {
	top: 70px;
	left: 220px;
	z-index: 1;
	height: 240px;
}

#message1 {
	margin-top: 20px;	
}





/*************************************************/


/***************** BLOCKS *************************/


          /********* ONE *********/

.text_left: {
	top:45px;  
	left:40px;
 	position: absolute;

}

.text_right: {

	top:45px;  
	right:40px;
 	position: absolute;

}

.photo_right{
	top:80px; 
	right:80px;
	position: absolute;
}

.photo_left{
	top:80px; 
	left:80px;
	position: absolute;
}

.hint_right{
	top:10px; 
	right:10px;
	position: absolute;
}

.hint_left{
	top:10px; 
	left:10px;
	position: absolute;
}


/***********************/


/***************************************************/