
/**************** FONTS *******************/
@font-face {
	src: url("blackout-2am.ttf");
	font-family: "Blackout-2am"; 	
}

@font-face {
    src: url("bungeeInline-regular.ttf");
	font-family: "BungeeInline-Regular";	
}

/*******************************************/






/*************** FOUNDATIONS ****************/
*{
	margin: 0;
	padding: 0;
}
/*
body{
	
	background: url('Untitled66-3.png') no-repeat  #e0ffee center center fixed;
	background-size: cover;
}*/


.clearfix {
	clear: both;
	content: '';
	display: table;
}

/****************************************************/






/******************* STRUCTURES *******************/

.main {
	width:1077px; 
	height: 500px;
	/*background-color: green;*/
	margin: auto;
	position: static;
	margin-top: 0px;
	background-image: url("Untitled66-3.png");
	background-size: cover;

}

.houses{
	width:1073px; 
	height: 540px;
/*	background-color: green;*/
	margin: auto;
	position: relative;
	margin-top: -260px;
	background-image: url("Untitled66-4.png");
	background-size: cover;
}

.block1 {
	height: 100vh;
}

.menu {
	width: 216px;
	background-color: rgb(0, 0, 255, 0.93);
	position: absolute;
	padding: 15px;
	border-radius: 10px;

}


.line{
 	width: 100%; 
 	height: 385px; 
 /*	margin: auto;*/
 	position: relative;
}



/********************************************/





/************** TEXT **********************/
.main_text {
	width: 100%;
	height: 60px;
	margin-top: 110px;	
	text-align: center;
	font-size: 50px;
	font-family: Blackout-2am;
	color: #15352B;
}

.small_text {
	width: 100%;
	height: 60px;
	margin-top: -20px;	
	text-align: center;
	font-size: 15px;
	font-family: BungeeInline-Regular;
	color: #15352B;
}

.title {
	width: 100%;
	height: 60px;
	font-size: 17px;
	text-align: center;
	/*font-family: Blackout-2am;*/
	/*color: #15352B;*/
	color: white;
	font-weight: 600;
}

.block_of_text {
	width: 100%;
	height: 60px;
	font-size: 13px;
	text-align: center;
    margin-top: 7%; 
    position: relative;
    color: white;
 
	/*font-family: Blackout-2am;*/
	/*color: #15352B;*/
}
/*********************************************/


 


/******** MENU PHOTOS BLOCKS  ***************/

.message {
	top: 20px;
	left: 350px;
	position: absolute;
	background-image: url("1.png");
	background-size: cover;
	z-index: 12;


}


.tracking {
	top: 0px;
	left: 500px;
	position: absolute;
	background-image: url("2.png");
	background-size: cover;
	z-index: 10;
}

.mensuration {
	position: absolute;
	top: 20px;
	left: 650px;
	background-image: url("3.png");
	background-size: cover;
	z-index: 8;
}
.notification {
	top: 180px;
	left: 350px;
	position: absolute;
	background-image: url("4.png");
	background-size: cover;
	z-index: 6;
}


.alarms {
	top: 200px;
	left: 500px;
	position: absolute;
	background-image: url("5.png");
	background-size: cover;
	z-index: 4;
}

.mail {
	top: 180px;
	left: 650px;
	position: absolute;
	background-image: url("6.png");
	background-size: cover;
	z-index: 2;
}


/**************************************************/






/*********  MENU PHOTOS BLOCKS (ANIMATION)  ****************/
.imgs {
	position: absolute;
	height: 80px;
    width: 80px;
	display: inline-block;
	/*background-color: red;*/
	border-radius:100%;
	  -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
} 

.imgs:hover {
	position: absolute;
	height: 120px;
    width: 120px;
     -webkit-transform: rotate(-6deg);
     -moz-transform: rotate(-6deg);
       -o-transform: rotate(-6deg);
      -ms-transform: rotate(-6deg);
          transform: rotate(-6deg);
}


img{
	display: inline-block;
	max-width: 30%;
	height: auto;
	width: auto/9; /*ie8*/
	-moz-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
	-webkit-transition: all 3s ease-out;
	
}

/***********************************************/




/***********  MENU TIP CHOOSE BLOCKS  ****************/

#message1 {
	margin-top: 20px;	
}

.menu_message1 {
	top: 70px;
	left: 425px;
	z-index: 11;
	height: 240px;
	visibility: hidden;

}

.menu_message2 {
	top: 50px;
	left: 575px;
	z-index: 9;
	height: 210px;
	visibility: hidden;


}

.menu_message3 {
	top: 70px;
	left: 725px;
	z-index: 7;
	height: 210px;
	visibility: hidden;
}

.menu_message4 {
	top: 233px;
	left: 425px;
	z-index: 5;
	height: 175px;
	visibility: hidden;
}

.menu_message5 {
	top: 240px;
	left: 575px;
	z-index: 3;
	height: 200px;
	visibility: hidden;
}

.menu_message6 {
	top: 233px;
	left: 725px;
	z-index: 1;
	height: 180px;
	visibility: hidden;
}

/*************************************************/




/***************** BLOCKS IN LINE *************************/

.text_left: {
	top:45px;  
	left:40px;
 	position: absolute;

}

.text_right: {

	top:45px;  
	right:40px;
 	position: absolute;

}

.photo_right{
	top:70px; 
	right: 180px;
	position: absolute;
}

.photo_left{
	top:70px; 
	left: 180px;
	position: absolute;
}


.for_function{
	background-color: green; 
	width: 500px; 
	height: 300px;  
	margin: auto;
	position: absolute;
	display: inline-block;
}

.for_photo{
	/*background-color: yellow;*/
	width: 250px; 
	height: 250px;  
	margin: auto;
	position: absolute;
	display: inline-block;
}





/***************************************************/



/*********************  LINES  *************************/ 


		/********** PINK **************/

.pink_form{
	position: absolute;
	background-image: url("pink_form.png");
	background-size: cover;
}



.pink_frame{
	position: absolute;
	background-image: url("pink_frame.png");
	background-size: cover;
}


.pink_emblem{
	position: absolute;
	background-image: url("pink_emblem.png");
	background-size: cover;
}


.pink_line{
	background-image: url("pink_background.png");
	background-size: cover;
}

.for_pink_icons{
	background-image: url("pink_icons.png");
	background-size: cover; 
	width: 450px; 
	height: 300px;  
	margin: auto;
	position: absolute;
	display: inline-block;
}

.pink_photo{
	/*background-color: yellow;*/
	width: 250px; 
	height: 250px;  
	margin: auto;
	position: absolute;
	display: inline-block;
}

.pink_position{
	top:70px; 
	right: 400px;
	position: absolute;
}


		/******************************/




		/************* GREEN *************/
.green_form{
	position: absolute;
	background-image: url("green_form.png");
	background-size: cover;
}



.green_frame{
	position: absolute;
	background-image: url("green_frame.png");
	background-size: cover;
}


.green_emblem{
	position: absolute;
	background-image: url("green_emblem.png");
	background-size: cover;
}

.green_line{
	background-image: url("green_background.png");
	background-size: cover;
}

.for_green_icons{
	background-image: url("green_icons.png");
	background-size: cover; 
	width: 450px; 
	height: 250px;  
	margin: auto;
	position: absolute;
	display: inline-block;
}

.green_photo{
	width: 250px; 
	height: 250px;  
	margin: auto;
	position: absolute;
	display: inline-block;
}

.green_position{
	top:70px; 
	right: 180px;
	position: absolute;
}

		/**************************/





		/************* ORANGE *************/
.orange_form{
	position: absolute;
	background-image: url("orange_form.png");
	background-size: cover;
}



.orange_frame{
	position: absolute;
	background-image: url("orange_frame.png");
	background-size: cover;
}


.orange_emblem{
	position: absolute;
	background-image: url("orange_emblem.png");
	background-size: cover;
}

.orange_line{
	background-image: url("orange_background.png");
	background-size: cover;
}

.for_orange_icons1{
	background-image: url("orange_icons1.png");
	background-size: cover; 
	width: 390px; 
	height: 310px;  
	margin: auto;
	position: absolute;
	display: inline-block;
}

.for_orange_icons2{
	background-image: url("orange_icons2.png");
	background-size: cover; 
	width: 210px; 
	height: 130px;  
	margin: auto;
	position: absolute;
	display: inline-block;
}

.orange_photo{
	width: 250px; 
	height: 250px;  
	margin: auto;
	position: absolute;
	display: inline-block;
}

.orange_position{
	top:70px; 
	right: 130px;
	position: absolute;
}

		/**************************/




		/************* BLUE *************/
.blue_form{
	position: absolute;
	background-image: url("blue_form.png");
	background-size: cover;
}



.blue_frame{
	position: absolute;
	background-image: url("blue_frame.png");
	background-size: cover;
}


.blue_emblem{
	position: absolute;
	background-image: url("blue_emblem.png");
	background-size: cover;
}

.blue_line{
	background-image: url("blue_background.png");
	background-size: cover;
}

.for_blue_icons1{
	background-image: url("blue_icons1.png");
	background-size: cover; 
	width: 320px; 
	height: 210px;  
	margin: auto;
	position: absolute;
	display: inline-block;
}

.for_blue_icons2{
	background-image: url("blue_icons2.png");
	background-size: cover; 
	width: 210px; 
	height: 130px;  
	margin: auto;
	position: absolute;
	display: inline-block;
}

.blue_photo{
	width: 250px; 
	height: 250px;  
	margin: auto;
	position: absolute;
	display: inline-block;
}

.blue_position{
	top:70px; 
	left: 130px;
	position: absolute;
}

		/**************************/



/***********************************************************************/

   