
/**************** FONTS *******************/
@font-face {
	src: url("blackout-2am.ttf");
	font-family: "Blackout-2am"; 	
}

@font-face {
    src: url("bungeeInline-regular.ttf");
	font-family: "BungeeInline-Regular";	
}

/*******************************************/






/*************** FOUNDATIONS ****************/
*{
	margin: 0;
	padding: 0;
}

body{
	/*фон*/
	background: url('Untitled66-3.png') no-repeat  #e0ffee center center fixed;
	background-size: cover;
}


.clearfix {
	clear: both;
	content: '';
	display: table;
}

/****************************************************/






/******************* STRUCTURES *******************/

.main {
	width: 700px;
	height: 400px;
	/*background-color: green;*/
	margin: auto;
	position: relative;
	margin-top: 20px;
}

.block1 {
	height: 100vh;
}

.menu {
	width: 216px;
	background-color: rgb(0, 0, 255, 0.93);
	position: absolute;
	padding: 15px;
	border-radius: 10px;
	/*visibility: hidden;*/

}


.line{
 	width: 100%; 
 	height: 485px; 
 	margin: auto;
 	position: relative;
}

.for_function{
	background-color: green; 
	width: 500px; 
	height: 400px;  
	margin: auto;
	position: absolute;
	display: inline-block;
}

.for_photo{
	/*background-color: yellow;*/
	width: 350px; 
	height: 350px;  
	margin: auto;
	position: absolute;
	display: inline-block;
}



/********************************************/





/************** TEXT **********************/
.main_text {
	width: 100%;
	height: 60px;
	margin-top: 110px;	
	text-align: center;
	font-size: 50px;
	font-family: Blackout-2am;
	color: #15352B;
}

.small_text {
	width: 100%;
	height: 60px;
	margin-top: -20px;	
	text-align: center;
	font-size: 15px;
	font-family: BungeeInline-Regular;
	color: #15352B;
}

.title {
	width: 100%;
	height: 60px;
	font-size: 17px;
	text-align: center;
	/*font-family: Blackout-2am;*/
	/*color: #15352B;*/
	color: white;
	font-weight: 600;
}

.block_of_text {
	width: 100%;
	height: 60px;
	font-size: 13px;
	text-align: center;
    margin-top: 7%; 
    position: relative;
    color: white;
 
	/*font-family: Blackout-2am;*/
	/*color: #15352B;*/
}
/*********************************************/


 


/******** MENU PHOTOS BLOCKS  ***************/

.message {
	top: 20px;
	left: 160px;
	position: absolute;
	background-image: url("1.png");
	background-size: cover;
	z-index: 12;


}


.tracking {
	top: 0px;
	left: 312px;
	position: absolute;
	background-image: url("2.png");
	background-size: cover;
	z-index: 10;
}

.mensuration {
	position: absolute;
	top: 20px;
	left: 465px;
	background-image: url("3.png");
	background-size: cover;
	z-index: 8;
}
.notification {
	top: 180px;
	left: 160px;
	position: absolute;
	background-image: url("4.png");
	background-size: cover;
	z-index: 6;
}


.alarms {
	top: 200px;
	left: 312px;
	position: absolute;
	background-image: url("5.png");
	background-size: cover;
	z-index: 4;
}

.mail {
	top: 180px;
	left: 465px;
	position: absolute;
	background-image: url("6.png");
	background-size: cover;
	z-index: 2;
}


/**************************************************/






/*********  MENU PHOTOS BLOCKS (ANIMATION)  ****************/
.imgs {
	position: absolute;
	height: 80px;
    width: 80px;
	display: inline-block;
	/*background-color: red;*/
	border-radius:100%;
	  -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
} 

.imgs:hover {
	position: absolute;
	height: 120px;
    width: 120px;
     -webkit-transform: rotate(-6deg);
     -moz-transform: rotate(-6deg);
       -o-transform: rotate(-6deg);
      -ms-transform: rotate(-6deg);
          transform: rotate(-6deg);
}


img{
	display: inline-block;
	max-width: 30%;
	height: auto;
	width: auto/9; /*ie8*/
	-moz-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
	-webkit-transition: all 3s ease-out;
	
}

/***********************************************/




/***********  MENU TIP CHOOSE BLOCKS  ****************/

#message1 {
	margin-top: 20px;	
}

.menu_message1 {
	top: 70px;
	left: 220px;
	z-index: 11;
	height: 240px;
	visibility: hidden;

}

.menu_message2 {
	top: 50px;
	left: 365px;
	z-index: 9;
	height: 210px;
	visibility: hidden;


}

.menu_message3 {
	top: 70px;
	left: 525px;
	z-index: 7;
	height: 210px;
	visibility: hidden;
}

.menu_message4 {
	top: 233px;
	left: 220px;
	z-index: 5;
	height: 175px;
	visibility: hidden;
}

.menu_message5 {
	top: 240px;
	left: 365px;
	z-index: 3;
	height: 200px;
	visibility: hidden;
}

.menu_message6 {
	top: 233px;
	left: 525px;
	z-index: 1;
	height: 180px;
	visibility: hidden;
}

/*************************************************/




/***************** BLOCKS IN LINE *************************/

.text_left: {
	top:45px;  
	left:40px;
 	position: absolute;

}

.text_right: {

	top:45px;  
	right:40px;
 	position: absolute;

}

.photo_right{
	top:70px; 
	right: 80px;
	position: absolute;
}

.photo_left{
	top:70px; 
	left: 80px;
	position: absolute;
}



/***************************************************/



/*********************      *************************/ 

.message_photo{
	position: absolute;
	background-image: url("1.png");
	background-size: cover;
}

.tracking_photo {
	position: absolute;
	background-image: url("2.png");
	background-size: cover;
}


.mensuration_photo {
	position: absolute;
	background-image: url("3.png");
	background-size: cover;
}
.notification_photo {
	position: absolute;
	background-image: url("4.png");
	background-size: cover;
}


.alarms_photo {
	position: absolute;
	background-image: url("5.png");
	background-size: cover;
}

.mail_photo {
	position: absolute;
	background-image: url("6.png");
	background-size: cover;
}



/*****************************************************/