.green_background_block{
	width: 100%;
	height:  33vw;
	position: relative;
	background-image: url("../image/blocks/purple/purple_background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	overflow: hidden;
}

.green_icons{
	/*background-image: url("../image/blocks/purple/purple_icons.png");*/
	background-size: cover; 
	position: absolute;
	display: inline-block;
	margin: auto;
	background-color: green;

}


.green_underscore2{
	background-image: url("../image/blocks/purple/purple_underscore2.png");
	background-size: cover;  
	margin: auto;
	position: absolute;
	display: inline-block;
/*	background-color: green;*/
}

.green_text{
	background-image: url("../image/blocks/purple/purple_text.png");
	background-size: cover; 
	margin: auto;
	position: absolute;
	display: inline-block;
/*	background-color: green;*/
}

.green_frame{
	position: absolute;
	background-image: url("../image/blocks/purple/purple_frame.png");
	background-size: cover;
}

.green_emblem{
	position: absolute;
	background-image: url("../image/blocks/purple/purple_emblem.png");
	background-size: cover;
}

.green_form{
	position: absolute;
	background-image: url("../image/blocks/purple/purple_form.png");
	background-size: cover;
}

.green_lateral_line{
	background-image: url("../image/blocks/purple/purple_lateral_line.png");
	background-size: cover; 
	margin: auto;
	position: absolute;
	display: inline-block;

}


.green_icons_placing{
	width: 20vw; 
	height: 27vw;
	bottom: 0vw;
	left: 3vw;  
}




.green_underscore2_placing{
	width: 30vw; 
	height: 18vw;
	top:8.5vw;  
	right:1vw; 
}

.green_lateral_line_placing{
	width: 2vw; 
	height: 33vw; 
	top:0vw;  
    left:25vw;
}

.green_text_placing{
	width: 40vw; 
	height: 5vw; 
	top: 13vw;  
	left: 52vw; 
	-moz-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
}

.green_text_placing:hover{
	width: 44vw; 
	height: 5vw; 
	-moz-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
}

.green_position{
	width: 20vw;
	height: 20vw;
	top:7vw; 
	left: 32vw;
}
