.registration_background{

	width: 100%;
	height: 45vw;
	position: relative;
	background-color: rgb(237, 246, 249);
	overflow: hidden;
}

.registration_houses{
	width: 100%;
	height: 45vw;
	background-image: url("../image/attachments/Untitled66-6.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-position: center bottom;
	overflow: hidden;
}

.button{
	width: 23vw;
	height: 4vw;
	background-color: rgb(112, 164, 154);
	text-align: center;
	color: rgb(221, 232, 230);
	line-height: 4vw;
	font-size: 2.5vw;
	top: 15vw;
	left: 25vw;
	position: absolute;
}

